.body{
  font-family: sans-serif;
  padding : 32px
}

nav {
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.li_brand{
  display: block;
  color: orange;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.form-control {
  display : block;
  height : 24px;
}

.btn_cust {
  background: white;
  padding : 12px;
  cursor : pointer;
  border: 1px solid grey;
}

.btn_cust:hover {
  background: lightgray;
}

.mt16{
  margin-top: 16px
}